/* find-a-specialist: */
@font-face {
   font-family: 'Gilroy-Regular';
   src: url('../assets/fonts/gilroy/gilroy-regular.woff') format("woff");
 }

@font-face {
   font-family: 'Gilroy-Light';
   src: url('../assets/fonts/gilroy/gilroy-light.woff') format("woff");
 }

@font-face {
   font-family: 'Gilroy-Light';
   src: url('../assets/fonts/gilroy/gilroy-light.woff') format("woff");
 }

@font-face {
   font-family: 'Gilroy-Medium';
   src: url('../assets/fonts/gilroy/gilroy-medium.woff') format("woff");
 }

@font-face {
   font-family: 'Gilroy-Extra-Bold';
   src: url('../assets/fonts/gilroy/gilroy-extra-bold.otf') format("opentype");
 }

@font-face {
   font-family: 'Montserrat-Bold';
   src: url('../assets/fonts/montserrat/montserrat-bold.ttf') format("truetype");
 }

@font-face {
   font-family: 'Montserrat-Extra-Bold';
   src: url('../assets/fonts/montserrat/montserrat-extra-bold.ttf') format("truetype");
 }

@font-face {
   font-family: 'Montserrat-Extra-light';
   src: url('../assets/fonts/montserrat/montserrat-extra-light.ttf') format("truetype");
 }

@font-face {
   font-family: 'Montserrat-Light';
   src: url('../assets/fonts/montserrat/montserrat-light.ttf') format("truetype");
 }

@font-face {
   font-family: 'Montserrat-Medium';
   src: url('../assets/fonts/montserrat/montserrat-medium.ttf') format("truetype");
 }

@font-face {
   font-family: 'Montserrat-Regular';
   src: url('../assets/fonts/montserrat/montserrat-regular.ttf') format("truetype");
 }

